<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CowsApp - En esta página vamos a poder ven la lista de las vacas para poder gestionarlas en formato de tablas.">
    <title>CowsApp - Gestión de Vacas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/script.js}" defer></script>
    <style>
        .logo-image {
            border-radius: 50%;
            border: 4px solid white;
            margin-right: 1.5rem;
            width: 100px;
            height: 100px;
            object-fit: cover;
            background-color: white;
        }
        .cow-card {
            transition: transform 0.3s ease;
            border: 2px solid #198754;
        }
        .cow-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        }
        .cow-info {
            font-size: 1.1rem;
            color: #FFA500;
            font-weight: 500;
        }
        .filtro {
            display: none;
        }
    </style>
</head>
<body class="bg-light d-flex flex-column min-vh-100">

    <header th:replace="~{fragments/header :: header}"></header>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm ">
        <div class="container">
            <ul class="nav nav-pills nav-fill gap-3 w-100">
                <li class="nav-item">
                    <a class="nav-link btn-lg text-white bg-success active" th:href="@{/vacas}">
                        <i class="bi bi-clipboard2-pulse me-2"></i>Gestión de Vacas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-lg text-white" style="background: #FFA500;" th:href="@{/razas}">
                        <i class="bi bi-database me-2"></i>Catálogo de Razas
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container my-5 flex-grow-1">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="h3 text-success"><i class="bi bi-clipboard2-pulse me-2"></i>Vacas Registradas</h2>
            <!-- Para ordenar -->
            <div class="d-flex align-items-center">
                <form method="get" th:action="@{/vacas/ordenadas}" class="d-inline-flex align-items-center me-3">
                    <label class="me-2 mb-0">Ordenar por:</label>
                    <select class="form-select form-select-sm me-2" name="criterio" onchange="this.form.submit()">
                        <option >Selecciona...</option>
                        <option value="pesoDesc" th:selected="${param.criterio == 'pesoDesc'}">Más peso</option>
                        <option value="pesoAsc" th:selected="${param.criterio == 'pesoAsc'}">Menos peso</option>
                        <option value="edadDesc" th:selected="${param.criterio == 'edadDesc'}">Más viejas</option>
                        <option value="edadAsc" th:selected="${param.criterio == 'edadAsc'}">Más jóvenes</option>
                        <option value="partoReciente" th:selected="${param.criterio == 'partoReciente'}">Parto más reciente</option>
                        <option value="partoAntiguo" th:selected="${param.criterio == 'partoAntiguo'}">Parto más antiguo</option>
                        <option value="precioVentaDesc" th:selected="${param.criterio == 'precioVentaDesc'}">Precio venta descendente</option>
                        <option value="precioVentaAsc" th:selected="${param.criterio == 'precioVentaAsc'}">Precio venta ascendente</option>                        
                    </select>
                </form>
            </div>

            <div class="dropdown">
                <form th:action="@{/vacas/buscar}" method="get" class="d-flex">
                    <input type="number" name="numIdentificacion" class="form-control" placeholder="Buscar vaca" required/>
                    <button class="btn btn-outline-success ms-2 " type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <div th:if="${#lists.isEmpty(TodasVacas)}" class="alert alert-info">
                    No se encontraron vacas con ese número.
                </div>

                <button class="btn btn-success rounded-pill px-4 mt-3" data-bs-toggle="dropdown">
                    <i class="bi bi-gear-wide-connected me-2"></i>Acciones
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow">
                    <li>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addVaca">
                            <i class="bi bi-plus-circle text-success me-2"></i>Añadir Nueva Vaca
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteVaca">
                            <i class="bi bi-trash me-2"></i>Eliminar Vaca
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{/vacas/estadisticas}">
                        <i class="bi bi-bar-chart-line me-2 text-primary"></i>Ver estadísticas de ventas
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>

        <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
            <p th:text="${param.error}"></p>
        </div>
        <div>
            <table class="table table-striped">
                <thead class="bg-success text-white">
                    <tr>
                    <th>Identificación</th>
                    <th>Peso (kg)</th>
                    <th>Nacimiento</th>
                    <th>Último parto</th>
                    <th>Raza</th>
                    <th>Vendida</th>
                    <th>Precio de venta</th>
                    <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vaca : ${TodasVacas}">
                    <td th:text="${vaca.numIdentificacion}">1234</td>
                    <td th:text="${vaca.peso} + ' kg'">0 kg</td>
                    <td th:text="${vaca.fechaNacimiento} ?: 'No registrado'">—</td>
                    <td th:text="${vaca.fechaParto} ?: 'Vaca sin parto'">—</td>
                    <td th:text="${vaca.raza.nombre}" >Raza</td>
                    <td>
                        <span th:if="${vaca.vendida}" class="badge bg-success">Vendida</span>
                        <span th:if="${!vaca.vendida}" class="badge bg-danger">No Vendida</span>
                    </td>
                    <td>
                        <span th:if="${vaca.precioVenta != null}" th:text="${vaca.precioVenta} + ' €'">0 €</span>
                        <span th:if="${vaca.precioVenta == null}" class="text-muted">No disponible</span>
                    </td>
                        
                    <td>
                        <button type="button" class="btn btn-sm btn-primary me-2"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target='#editVacaModal_' + ${vaca.id}">
                        <i class="bi bi-pencil-square"></i> Editar
                        </button>
                    </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(TodasVacas)}">
                    <td colspan="6" class="text-center">No hay vacas que mostrar.</td>
                    </tr>
                </tbody>
                <th:block th:each="vaca : ${TodasVacas}">
                <!-- editar vaca -->
                    <div class="modal fade" th:id="'editVacaModal_' + ${vaca.id}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Editar Vaca</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <form th:action="@{/vacas/editarVaca/{id}(id=${vaca.id})}" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label class="form-label">Número de Identificación</label>
                                            <input type="text" class="form-control" 
                                                th:value="${vaca.numIdentificacion}" name="numIdentificacion" id="numIdentificacion" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Peso (kg)</label>
                                            <input type="number" step="0.1" class="form-control"  min="1"
                                                th:value="${vaca.peso}" name="peso" id="peso" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Fecha de Nacimiento</label>
                                            <input type="date" class="form-control" 
                                                th:value="${vaca.fechaNacimiento}"  name="fechaNacimiento" id="fechaNacimiento"
                                                th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Fecha de Último Parto</label>
                                            <input type="date" class="form-control" 
                                                th:value="${vaca.fechaParto}"  name="fechaParto" id="fechaParto"
                                                th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Raza</label>
                                            <select class="form-select" th:value="vaca.raza.id"  name="vacaEditarRazaId" required>
                                                <option th:each="raza : ${TodasRazas}" 
                                                        th:if="${raza.nombre != 'Raza sin definir'}"
                                                        th:value="${raza.id}"
                                                        th:text="${raza.nombre}"
                                                        th:selected="${raza.id == vaca.raza.id}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Vendida</label>
                                            <select class="form-select" th:value="vaca.vendida" name="vendida" id="vendida">
                                                <option value="true" th:selected="${vaca.vendida == true}">Vendida</option>
                                                <option value="false" th:selected="${vaca.vendida == false}">No Vendida</option>

                                            </select>
                                        </div>
                                        <div class="mb-3" th:if="${vaca.vendida}">
                                            <label class="form-label">Precio de Venta (€)</label>
                                            <input type="number" class="form-control" 
                                                th:value="${vaca.precioVenta}" name="precioVenta" id="precioVenta" min="1" step="0.01" required>
                                        </div>
                                        <div class="mb-3" th:unless="${vaca.vendida}">
                                            <label class="form-label">Precio de Venta (€)</label>
                                            <input type="number" class="form-control" 
                                                name="precioVenta" id="precioVenta" value="0" step="0.01">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-success">Guardar cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
            </table>
            
        </div>
    </main>

    


    <!-- Añadir Vaca -->
    <div class="modal fade" id="addVaca" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Nueva Vaca</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form th:action="@{/vacas/newVaca}" method="post" th:object="${vaca}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Número de Identificación</label>
                            <input type="number" class="form-control" 
                                th:field="*{numIdentificacion}" 
                                min="1000" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Peso (kg)</label>
                            <input type="number" class="form-control" 
                                th:field="*{peso}" step="0.1" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" 
                                th:field="*{fechaNacimiento}" 
                                th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" 
                                required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha de Último Parto</label>
                            <input type="date" class="form-control" 
                                th:field="*{fechaParto}"
                                th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Raza</label>
                            <select class="form-select" th:field="*{raza.id}" required>
                                <option th:each="raza : ${TodasRazas}" 
                                        th:if="${raza.nombre != 'Raza sin definir'}"
                                        th:value="${raza.id}"
                                        th:text="${raza.nombre}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Vendida</label>
                            <select class="form-select" th:field="*{vendida}" required>
                                <option value="true">Vendida</option>
                                <option value="false">No Vendida</option>
                            </select>
                        </div>   
                        <div class="mb-3" th:if="${vaca.vendida}">
                            <label class="form-label">Precio de Venta (€)</label>
                            <input type="number" class="form-control" 
                            th:value="${vaca.precioVenta}" name="precioVenta" id="precioVenta" min="1" required>
                        </div>
                        <div class="mb-3" th:unless="${vaca.vendida}">
                            <label class="form-label">Precio de Venta (€)</label>
                            <input type="number" class="form-control" 
                            name="precioVenta" id="precioVenta" value="0" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Eliminar Vaca -->
    <div class="modal fade" id="deleteVaca" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Vaca</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Seleccione la vaca que desea eliminar:</p>
                    <form id="formDelete" method="post">
                        <div class="mb-3">
                            <select class="form-select" name="id"   id="selectVaca" required>
                                <option value="" disabled selected>Seleccione una vaca</option>
                                <option th:each="vaca : ${TodasVacas}"
                                        th:value="${vaca.id}"
                                        th:text="'Num Identificación : ' + ${vaca.numIdentificacion} + ' - ' + ${vaca.raza.nombre}"
                                        th:attr="data-id=${vaca.id}">
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{fragments/footer :: footer}"></footer>

    
</body>
</html>